-Dfile.encoding=UTF-8
-Duser.language=zh
-Duser.country=CN
-Duser.timezone=Asia/Shanghai
-Dsun.jnu.encoding=UTF-8
-Dconsole.encoding=UTF-8
-Dsun.stderr.encoding=UTF-8
-Dsun.stdout.encoding=UTF-8
-Djavac.encoding=UTF-8
-Dmaven.compiler.encoding=UTF-8
-Dproject.build.sourceEncoding=UTF-8
-Dproject.reporting.outputEncoding=UTF-8
-Dmaven.compiler.source.encoding=UTF-8
-Dmaven.compiler.target.encoding=UTF-8
-Djava.awt.headless=true
-XX:+UseG1GC
-XX:MaxGCPauseMillis=200
-Xmx1024m
-Xms256m
