/.idea/
/*/target/
/logs/
/superagent原型/
/super-agent.iml
/super-agent-boot/super-agent-boot.iml
/super-agent-common/super-agent-common.iml
/super-agent-dao/super-agent-dao.iml
/super-agent-scheduler/super-agent-scheduler.iml
/super-agent-service-api/super-agent-service-api.iml
/super-agent-service-impl/super-agent-service-impl.iml
/super-agent-web/super-agent-web.iml

# Claude本地配置文件
.claude/settings.local.json
/*/.flattened-pom.xml

/.flattened-pom.xml
/.vscode/settings.json
/pid/super-agent.pid
/super-agent-boot/logs/
/target/
/super-agent-ai/super-agent-ai-api/.flattened-pom.xml
/super-agent-ai/super-agent-ai-impl/.flattened-pom.xml
/super-agent-ai/super-agent-ai-api/target/
/super-agent-ai/super-agent-ai-impl/target/
/temp/uploads/
